.alert {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	top: 20px;
	padding: 32px;
	margin: 15px;
	background: #fff;
	font-size: 18px;
	font-weight: bold;

	&__close {
		position: absolute;
		right: 10px;
		top: 10px;
		display: block;
		width: 42px;
		height: 42px;
		font-size: 32px;
		line-height: 42px;
	}

}